.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
}

.ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
}

a.ctools-ajaxing,
input.ctools-ajaxing,
button.ctools-ajaxing,
select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {}

body,
button,
input,
label,
select,
td,
textarea {
    font-family: arial, sans-serif;
    font-size: 14px;
    max-width: 500px;
}

.region-content {
    width: 98%;
    margin: auto;
}

p {
    margin: 0;
}

.views-row {
    max-height: 600px;
    overflow: hidden;
}

.views-row:hover {
    max-height: none;
}

.views-row.facebook-row {
    clear: both;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 0px;
    overflow: hidden;
    margin: 10px 0;
    padding: 0px;
    cursor: pointer;
}

.views-row.facebook-row:hover {
    box-shadow: 0px 0px 5px #888888;
    border-top: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 2px solid gray;
}

.views-field-field-fb-page-1 {
    display: none;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: lightgray 1px solid;
}

.views-field-field-banner-url,
.views-field-field-local-biz {
    display: none;
}

.views-field-field-banner-pic {
    overflow: hidden;
    margin-bottom: 8px;
}

.views-field-body p {}

.views-field-field-banner-pic img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100px;
}

.fb-profile-pic {
    float: left;
}

.fb-profile-pic img {
    max-height: 50px;
    margin-right: 15px;
}

.advertiser-name-title {
    padding-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

.fb-page-link {
    display: none;
}

.views-field-body {
    font-size: 1em;
    margin-bottom: 8px;
    clear: left;
}

.views-field-field-fb-image,
.fb-lnkd-pic {
    float: right;
}

.views-field-field-fb-image img,
.fb-lnkd-pic img {
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 200px;
    margin-left: 5px;
}

.views-field-field-fb-image-big {
    margin-top: 8px;
    margin-bottom: 8px;
}

.views-field-field-fb-image-big img {
    max-width: 100%;
    max-height: 400px;
}

.views-field-field-fb-lnkd-link {
    clear: both;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    padding: 5px;
    margin: 5px;
}

.views-field-field-fb-lnkd-link .field-content {
    overflow: hidden;
}

.fb-lnkd-headline {
    font-weight: bold;
}

.fb-lnkd-site a {
    font-style: italic;
    text-decoration: none;
    color: grey;
}

.fb-lnkd-content {
    color: grey;
}

.fb-lnkd-link {
    display: none;
}

.views-field-created {
    clear: right;
    font-size: 0.9em;
    padding-top: 5px;
}

.time-ago-text {
    text-align: right;
    font-style: italic;
}

.fb-like-text {
    display: none;
    color: blue;
    float: left;
}

#nowads-promo-link {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    font-style: italic;
}

.views-field-nid {
    display: none;
}

.facebook-icon-small {
    clear: both;
    float: left;
}

.external-block-insert {}

.views-field-field-footnote {
    font-style: italic;
    font-size: 10px;
    clear: both;
    margin-top: 15px;
}
