---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "bootstrap";

$ctnj-orange: #ff9300;
$ctnj-blue: #333399;
$ctnj-gray: #666666;
$ctnj-headline-color: #37469b;
$ctnj-background-blue: #cccce0;

h1, h2, h3, h4, h5, h6 {
  color: $ctnj-headline-color;
}

h1 {
  text-align: center;
}

.header {
  background-color: $ctnj-orange;
  color: white;
}

.menu {
  background-color: $ctnj-gray;
  color: white;
}

.btn-default {
  background-color: $ctnj-gray;
  border-color: $ctnj-gray;
  color: white;

  a {
    color: white;
  }
  a:hover {
    background-color: $ctnj-orange;
  }
}

.btn-default:hover {
  background-color: $ctnj-orange;
}

.social {
  text-align: right;
  margin: 2em 0;
}

.form-inline .form-control {
    width:auto;
}

.form-inline .form-group {
    display: inline-block;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
