---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Lora';

$ctnj-orange: #ff9300;
$ctnj-blue: #333399;
$ctnj-gray: #666666;
$font-family-serif: 'Lora', serif;

.header {
  background-color: $ctnj-orange;
  color: white;
}

.menu {
  background-color: $ctnj-gray;
  color: white;
}

.opinion, .sponsored-messages {
  text-align: center;
  padding: 0;

  h1 {
    background-color: $ctnj-blue;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 0.25em;
    margin: 0.25em 0;
  }

  h2 {
    font-family: $font-family-serif;
    margin-top: 0.5em;
  }

  h3 {
    padding: 0.5em 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 1.2em;
  }
}

.btn-default {
  background-color: $ctnj-blue;
  border-color: $ctnj-blue;
  color: white;
}

.social {
  text-align: right;
  margin: 2em 0;
}

.form-inline .form-control {
    width:auto;
}

.form-inline .form-group {
    display: inline-block;
}

.img-center {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.article-image {
  position: relative;
  width: 100%;
  margin-top: 0.35em;
  margin-bottom: 1em;
}

.article-headline {
    top:0;
    left:0;
    position: absolute;
    background-color: $ctnj-blue;
    color: white;
    opacity: 0.75;
    a:link, a:visited {
      color: white;
    }
}

p {
  font-family: $font-family-serif;
}
